@font-face {
    font-family: bahnschrift;
    src: url(../assets/fonts/BAHNSCHRIFT.ttf);
  }
@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand/static/Quicksand-Light.ttf);
  }
  html {
    font-family: Quicksand;
    background-color: black;
    color: white;
    font-size: 18px;
    a {
      // color: rgb(0, 173, 239);
      color: rgb(245, 211, 126);
    }
    h1{
      font-size: 72px;
    }
    h2{
      font-size: 64px;
      // text-align: center;
    }
  }